.footer{
    background-color: var(--color-dark-blue);
    padding: 2.4rem 0;
}

.wrapper{
    max-width: 120rem;
    margin: 0 auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    gap: 5.6rem;
    align-items: center;

    font-weight: 500;
}

.facebook, .twitter{
    margin-left: 5.6rem;
    cursor: pointer;
}

.facebook:hover, .twitter:hover{
    fill: var(--color-primary-red);
}

.logo{
    stroke: var(--color-white);
    fill: var(--color-white);
    color: var(--color-white);
}

.logo, .logo-circle, .logo-text{
    fill: var(--color-white);
}

.logo-circle__content {
    fill: var(--color-dark-blue);
}

.nav{
    display: flex;
    align-items: center;
    gap: 4.8rem;
    color: var(--color-white);
}

.nav a:link, .nav a:visited,  .nav a:active{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2rem;
}

.nav a:hover{
    color: var(--color-primary-red);
}

.nav button, .nav button:active{
    padding: 1rem 3.2rem;
    border: .2rem solid var(--color-primary-red);
    border-radius: var(--default-border-radius);

    background-color: var(--color-primary-red);
    color: var(--color-white);

    cursor: pointer;
}

.nav button:hover{
    background-color: transparent;
}

.bottom p, .bottom a{
    font-size: 1.2rem;
    text-align: center;

    margin-top: 2.4rem;
}

.bottom a{
    color: var(--color-primary-blue);
}



/* 700 px */
@media (max-width:55em) {
    .top{
        flex-direction: column;
        align-items: center;

        gap: 5.6rem;
    }

    .left{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
    }

    .nav a:link{
        font-size: 2rem;
    }

    .bottom p{
        display: flex;
        flex-direction: column;
    }

    .bottom p, .bottom p a{
        font-size: 1.8rem;
    }
}